*{
  margin: 0;
  padding: 0;
}
#webCam {
  background-color: rebeccapurple;
  height: 700px;
  width: 700px;
}

#canvas{
  background-color: blueviolet;
}

#takePhoto {
  background-color: blueviolet;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 3px 10px burlywood;
  color: #fafafa;
  font-size: 1.5rem;
  width: 200px;
  margin: 0 50%;
}

/* ========= RESPONSIVE ========= */
@media (max-width: 576px) {
  #webCam{
    height: 350px;
  }
  #canvas{
    height: 490px;
    width: 700px;
  }
}
